* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container--tabs {
  margin: 2rem;
  position: relative;
}

.container--tabs .nav-tabs {
  font-size: 26px;
  line-height: 0.03846;
  letter-spacing: 0.03846em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.container--tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.container--tabs .nav-tabs > li > a {
  font-size: 1.5rem;
  color: #323131;
  text-decoration: none;
  float: left;
  margin-right: 2px;
  line-height: 1.42857143;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.container--tabs .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  background-color: #efefef;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}

.container--tabs .nav-tabs > li.active > a,
.container--tabs .nav-tabs > li.active > a:hover,
.container--tabs .nav-tabs > li.active > a:focus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #d90c0c;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-bottom: 2px solid black;
}

.container--tabs .tab-content {
  float: left;
  width: 100%;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.container--tabs .tab-content > .tab-pane {
  display: none;
}

.container--tabs .tab-content > .tab-pane .team-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--tabs .tab-content > .tab-pane .team-card a {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container--tabs .tab-content > .tab-pane .team-card a img {
  width: 150px;
}

.container--tabs .tab-content > .tab-pane .team-card a img:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container--tabs .tab-content > .tab-pane .team-card h1 {
  font-size: 32px;
  line-height: 0.0625;
  letter-spacing: 0.04688em;
  text-align: center;
}

.container--tabs .tab-content > .tab-pane.active {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  row-gap: 3rem;
  padding: 2.5% 3.5%;
  background-color: #efefef;
  border: 2px solid #222;
  border-radius: 20px;
}

.container--tabs .tab-content > .active {
  display: block;
}

.title {
  font-size: 48px;
  line-height: 0.375;
  letter-spacing: 0.025em;
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */